.color0{
	background-color: #A01403;
}
.color1{
	background-color: #BB2608;
}
.color2{
	background-color: #DC512A
}
.color3{
	background-color: #F4723E;
}
.color4{
	background-color: #F8A66A;
}
.color5{
	background-color: #FFDAB3;
}
.color6{
	background-color: #F3A026;
}
.color7{
	background-color: #C0B537;
}
.color8{
	background-color: #57520E;
}
.color9{
	background-color: #779A46;
}

