.color1{
	background-color: #389090;
}
.color2{
	background-color: #F47E7D;
}
.color3{
	background-color: #B5D045;
}
.color4{
	background-color: #FB8335;
}
.color5{
	background-color: #81C0C5;
}
.color6{
	background-color: #E0C7A8;
}

