html, body {
    /* The universe takes up all available space */
    width: 100%;
    height: 100%;
    
    /* The universe is black */
    background-color: black;
}

#sun {
    position: absolute;
    top: 50%;
    left: 50%;
    
    height: 50px;
    width: 50px;
    margin-top: -25px; 
    margin-left: -25px;
    
     border-color: orange;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  
  box-shadow: 0 0 64px yellow;
}


#earth {
    /* Style your earth */
    position: absolute;
    top: 0px;
    
    height: 160px;
    width: 213px;
    background: url("../images/Earth_line.png");
    background-position:  0px 0px; 
    -webkit-animation: rotation 2s steps(13) infinite;
}

@-webkit-keyframes rotation {
  from {
	background-position:  0px 0px; 
  }  
	to {
	background-position:    -2769px 0px; 
	}
}


#earth-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px;

    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
    
     //-webkit-animation: revolution 10s cubic-bezier(0.1, 0.7, 1.0, 0.1) infinite;
     -webkit-animation: revolution 10s linear infinite;
     -moz-animation: revolution 10s linear infinite;
      -ms-animation: revolution 10s linear infinite;
       -o-animation: revolution 10s linear infinite;
          animation: revolution 10s linear infinite;

    
}


@-webkit-keyframes revolution {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes revolution {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


