#canva {
    
    position:absolute;
    left:5px;
    top:5px;
    background: url(../assets/tex_Water.jpg);
    /*z-index: 1;*/
	margin-bottom: 10px;
}


#score {
	/*background-color: #C66AC3;*/
	background-color: #FFFF99;
	position: absolute;
	left:5px;
    top:615px;
}
